
/ {
	aliases {
		sw0 = &arduino_pin17;
	};
};


&gpiote {
	status = "okay";
};


&i2c3 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	sda-pin = <23>;
	scl-pin = <22>;
	clock-frequency = <I2C_BITRATE_STANDARD>;
	
	lps22hb-press@5d {
		compatible = "st,lps22hb-press";
		reg = <0x5d>;
		label = "LPS22HB";
	};
	
	lis2dh12@19 {
		compatible = "st,lis2dh12", "st,lis2dh";
		reg = <0x19>;
		label = "LIS2DH12-ACCEL";
	};
	
	te23142771@2a {
		compatible = "te,23142771";
		reg = <0x2a>;
		label = "TE23142771";
	};
};
